html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 40px;
  background-image: url('https://i.ibb.co/s3MZccD/111533-blue-and-white-background-2560x1600-hd.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 1920px; /* Definir a largura do contêiner */
  height: 1080px; /* Definir a altura do contêiner */
}

.state {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 8px;
  width: 200px;
  height: 20px; /* Altura fixa para cada estado, ajuste conforme necessário */
  background-color: #00AFEF;
  font-family: "Futura Extrabold", sans-serif;
  transition: transform 0.3s ease-in-out;
}

.state-name {
  order: 1;
}

.state-score {
  order: 2;
}
