.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 40px;
  background-image: url('https://i.ibb.co/s3MZccD/111533-blue-and-white-background-2560x1600-hd.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.state {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Adiciona alinhamento vertical ao centro dos estados */
  border: 1px solid black;
  padding: 8px;
  width: 200px;
  background-color: #00AFEF;
  font-family: "Futura Extrabold", sans-serif;
  transition: transform 0.3s ease-in-out;
}

.state-name {
  order: 1;
}

.state-score {
  order: 2;
}

.vertical-rectangle {
  position: absolute;
  top: 0;
  right: 30px;
  width: 210px;
  height: 50%;
  background-color: transparent;
  border: 2px solid #000000;
  z-index: 1;
}